.heading-text-gi {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #606077;
    text-transform: uppercase;
    display: block;
    margin-top: -3%;
    margin-bottom: 1%;
}

.invoice-info-div {
    display: flex;
    justify-content: space-between;
}

.invoice-info-card {
    width: 48%;
    height: 388px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}

.invoice-info-card-sub-div {
    width: 90%;
    margin: auto;
    margin-top: 6%;
}

.input-label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #373737;
}

.gen-invoice-input {
    border: 1px solid #DEA000;
    border-radius: 5px;
    height: 45px;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.two-in-one-input-div {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;

    div {
        width: 47%;
    }
}

.cancel-or-create-invoice-div {
    position: absolute;
    top: 90%;
    left: 52%;
    width: 40.5%;
    display: flex;
    justify-content: space-between;
}

.coc-btn {
    width: 48%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.create-invoice {
    background: #DEA000;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.cancel {
    border: 1px solid #01037C;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #01037C;
}