.request-btn {
    background-color: #2E2E99;
    border-radius: 4px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    width: 170px;
    height: 32px;
    margin-top: 7%;
    margin-bottom: 3%;
}

.request-last-row {
    display: flex;
    margin-left: 6.5%;
    margin-top: 5%;
    padding-bottom: 1.9%;
    border-bottom: 1px solid #ededed;
}

.request-card {
    width: 682px;
    height: 381px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 10px;

    &-row {
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        margin-left: 5%;
    }

    &-col {
        display: flex;
        flex-direction: column;
        width: 30%;

        &-top {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 109.7%;
            /* or 15px */
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #606077;
        }

        &-body {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            /* identical to box height */
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #01037C;
        }
    }
}

.ungenerated{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: red;
    background-color: #FF991F;
    text-align: center;
    opacity: 0.43;
    border-radius: 4px;
}

.action {
    width: 30%;
    height: 40px;
    background-color: #2E2E99;
    border-radius: 5px;
    margin-left: 65%;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &-text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 165.5%;
        color: #EDEDED;
    }
}

.caret {  
    display: flex;
    align-items: center;

    &:hover > .action-choices {
        display: flex;
    }

    & img {
        background-color: #01037C;
        border-radius: 5px;
        cursor: pointer;
    }
}

.action-choices {
    position: absolute;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid  #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1292);
    display: flex;
    flex-direction: column;
    top: -210%;
    left: 0%;
    width: 100%;
    display: none;
}

.action-choices::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    transform:  rotate(45deg); 
    -webkit-transform: rotate(45deg);
    top: 94%;
    left: 76%;
}

.action-choice {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    background-color: #ffffff;
    color: #606077;
    mix-blend-mode: normal;
    opacity: 0.4;
    border: 1px solid #EDEDED;
    margin-left: 5%;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #01037C;
    }
}


@media only screen and (max-width: 930px) {

    .request-card {
        width: 60%;

        &-col-top {
            font-size: 12px;
        }

        &-col-body {
            font-size: 16px;
        }
    }

    .action-text, .action-choice {
        font-size: 14px;
    }
}


@media only screen and (max-width: 775px) {
    .request-card {
        width: 80%;
    }
}

@media only screen and (max-width: 620px) {
    .request-card {
        width: 100%;
    }
}

@media only screen and (max-width: 460px) {
    .request-card {

        &-col-top {
            font-size: 10px;
        }

        &-col-body {
            font-size: 12px;
        }
    }

    .action {
        width: 40%;
        margin-left: 50%;
    }

    .action-text, .action-choice {
        font-size: 12px;
    }

    .ungenerated {
        font-size: 10px;
    }

    .request-btn {
        font-size: 12px;
        width: 130px;
        height: 39px;
        margin-top: 10%;
        margin-bottom: 7%;
    }
}